@{
    ViewBag.Title = "Home Page";
}

<link href="~/Scripts/demo.css" rel="stylesheet" />
<link href="~/Scripts/slider.min.css" rel="stylesheet" />

<ul class="cb-slideshow">
    <li><span>Image 01</span><div></div></li>
    <li><span>Image 02</span><div></div></li>
    <li><span>Image 03</span><div></div></li>
    <li><span>Image 04</span><div></div></li>
</ul>
<div class="container">

</div>
<script src="~/Scripts/slider.js"></script>